{% extends "index.html" %}

{% block article %}
    {% for article in object_list %}
        <h2>
            <a href="#">{{ article.title }}</a>
        </h2>
        <p class="lead">
            <a href="">{{ article.author }}</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> {{ article.published }}</p>
        <hr>
        <img class="img-responsive" src="{{ article.image }}" alt="">
        <hr>
        <p>{{ article.content }}</p>
        <a class="btn btn-primary" href="#">Читать дальше <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
    {% endfor %}

{% endblock %}